@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&family=Poppins:ital,wght@0,400;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: black;
}

.container {
  background: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.principal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ffffff;
  height: 432px;
  width: 399px;
  border-radius: 15px;
  padding: 60px;
  gap: 20px;
}

.btn {
  background-color: #ed6755;
  color: white;
  margin: 20px 0;
  cursor: pointer;
  height: 100px;
  width: 200px;
  border-radius: 15px;
  box-shadow: 0px 16px 21px -5px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: 0px 16px 21px -5px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 0px 16px 21px -5px rgba(0, 0, 0, 0.58);
  border: none;
}

.texto {
  text-align: center;
}

.btn2 {
  background-color: #2c3e50;
  color: white;
  margin: 20px 0;
  cursor: pointer;
  height: 50px;
  width: 150px;
  border-radius: 15px;
  box-shadow: 0px 16px 21px -5px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: 0px 16px 21px -5px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 0px 16px 21px -5px rgba(0, 0, 0, 0.58);
  border: none;
}

.btn:hover {
  background: #ed6755;
  color: white;
  transform: scale(1.1);
  transition: all 0.3s;
}

.btn2:hover{
  background: #2c3e50;
  color: white;
  transform: scale(1.1);
  transition: all 0.3s;
}
}
